body {
    margin: 0;
}

img {
    height: auto;
    max-width: 400px;
    flex-shrink: 2;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: beige;
    z-index: 1;
}

.title-link {
    text-decoration: none;
    color: black;
}

.post-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 80px;
}

.form-fields {
    width: 100%;
}

.add-form {
    margin-top: 15%;
    text-align: center;
}

.Post-buttons {
    display: flex;
}

#post-container {
    margin-bottom: 50px;
    background-color: #f8f8f8;
    padding: 25px;
    border-radius: 5%;
}

#post-container:hover {
    box-shadow: 2px 5px 5px rgb(153, 153, 153);
    cursor: pointer;
}

#post-content {
    position: relative;
    width: 100%;
    bottom: 0;
}

#date-and-content {
    display: flex;
    align-items: center;
}

#footer {
    box-sizing: border-box;
    background-color: #f5f4f4;
    width: 100vw;
    position: relative;
    z-index: 999;
    text-align: center;
    padding: 40px;
}

#contact-links i {
    margin: 0 10px;
    font-size: 1.2rem;
    background-color: rgb(80, 80, 80);
    padding: 4px;
    border-radius: 50%;
    color: white;
}

#add-button,
#delete-button,
#edit-button {
    text-decoration: none;
    margin: 50px auto;
}

#Post-divider {
    height: 70vh;
    width: 2px;
    border-radius: 15px 25px 15px 25px;
    background-color: rgb(209, 209, 209);
    background-image: linear-gradient(rgb(71, 71, 71), rgb(238, 238, 238));
    border: none;
    margin-top: 50px;
}

#Categories input {
    border-radius: 10px;
    padding: 12px 20px;
    border: 1px solid #c7c6c6;
    margin: 10px;
    width: 10%;
}
